body{
    padding: 0;
    margin: 0;
    color: black;
    font-size: 16px;
}

ul, li{
    display: block;
    padding: 0;
    margin-right: 0;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.header{
    background: url('../img/header-bg.jpg') no-repeat center top / cover;
    padding-top: 57px;
    color: #ffffff;
    padding-bottom: 322px;
}

header a{
    color: #fff;
}

.menu{
    display: flex;
}

.menu li a{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.menu li{
    margin-right: 40px;
}

.nav{
    display: flex;
    align-items: center;
}

.offer{
    text-transform: uppercase;
    margin-top: 216px;
}

.offer p{
    font-size: 30px;
}

.offer h1{
    font-size: 100px;
    margin-bottom: 19px;
    margin-top: -9px;
    letter-spacing: 0.02em;
}

.btn{
    display: block;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 17px 47px;
    border: 1px solid #ffffff;
    width: 238px;
}